<div class="root"> 
    <div class="today-weather">
        <div id="mySidenav" class="sidenav search padding">
            <div class="close">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            </div>
                <form class="header flex-center">
                    <label #labelRef class="header" for="cities">search by city name</label>
                    <div class="padding">
                        <input #inputRef type="text" [(ngModel)] = "cityName" name="cityName" placeholder="   Enter City Name">
                    </div>
                </form>
            <div id="city-list" #formRef class="flex-center">
                <div *ngFor = "let city of aroundCities?.list | cityPipe:cityName" class="city" >
                    <p (click)="onCityClick(city.id)" >{{city.name}}</p>
                </div>
            </div>
        </div>
        <div class="menu" style="font-size:30px;cursor:pointer" (click)="openNav()">
            <img src="../../../assets/menu.png" alt="menu">
        </div>
        <div class="current-location-temp flex-center">
            <p class="header">{{ weather?.name}}, {{ weather?.sys.country}}</p>
            <p class="sub-header">{{currentDay}}</p>
            <p class="header">{{ weather?.main.temp }}&#176;</p>
            <p class="sub-header">{{ weather?.main.temp_min }}&#176; / {{ weather?.main.temp_max }}&#176;</p>
            <p class="sub-header">{{ weather?.weather[0].description }}</p>
        </div>
        <div class="current-weather-details flex-row">
            <div class="center">
                <p>Humidity</p>
                <p>{{weather?.main.humidity}}%</p>
            </div>
            <div class="center">
                <p>Wind</p>
                <p>{{weather?.wind.speed}} MPH</p>
            </div>
            <div class="center">
                <p>Pressure</p>
                <p>{{weather?.main.pressure}} mb</p>
            </div>
        </div>
    </div>
    <div class="week-weather">
        <div *ngFor="let weather of forecastWeather">
            <app-weather-item [weather] = "weather"></app-weather-item>
        </div>
    </div>
</div>