input {
    color: black;
    border-radius: 30px;
    padding: 11px;
    font-weight: bold;
    font-size: 17px;
    outline: none;
    margin: 20px 0px;
    cursor: text;
}


.form-header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.form-header h1 {
    margin-top: 35%;
}

.login-form {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

label {
    padding: 20px;
}

.login-button {
    display: flex;
    justify-content: center;
}

.login-button button {
    font-size: 25px;
    cursor: pointer;
}

.error {
    font-size: 15px;
    color: red;
    font-weight: bold;
    padding: 20px;
}