<div class="root">
    <div class="fprm-header">
        <h1>Login</h1>
    </div>
    <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser($event)">
            <div>
                <label for="email">Email</label>
                <input  required type="email" formControlName="email">
                 <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"> 
                    {{emailError()}}
                </div>
            </div>
            <div>
                <label for="Password">Password</label>
                <input  required minlength="6" maxlength="10" type="password" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    {{passwordError()}}
                </div>
                <button class="button" type="submit">login</button>
            </div>
        </form>
    </div>
</div>